@media only screen and (max-width:360){
.img-adjust{
    width: 100%;
  }
}

@media only screen and (max-width:420px){
    tr th{
        padding-left: 0px;
        padding-right: 0px;
        width:100%;
    }
}

.passport{
    width: 60%;
    padding-right: 0px;
}

.aboutself{
    width:60% ;
    padding: 0px;
}
@media only screen and (max-width:280){
    .img-adjust{
        width: 20%;
      }
    }
@media only screen and (max-width:290px){
    .passport{
        width: 30%;
        padding-right: 0px;
        size: 120%;
    }
    
    .aboutself{
        width:48.5% ;
        padding: 0px;
        font-size: 80%;
    }
    tr th{

        width: 50%;
        padding-right: 0px;
        padding-left: 0px;
       
    }
}


@media only screen and (max-width:360px){
    body{
        font-size: 0.7rem;
    }
    .paragraph{
            padding-left: 5px;
        }
    }

   
@media only screen and (max-width:768px){
    body{
        font-size: 0.7rem;
        font-weight: bold;
    }
}
